$c-blue: hsl(199, 100%, 36%);
$c-dark-blue: hsl(199, 100%, 25.2%);

$c-dark-theme-blue: hsl(199, 100%, 25.2%);

$c-red: hsl(350, 65%, 46%);
$c-dark-red: hsl(350, 65%, 32%);

$c-light-gray: rgba(0, 0, 0, 0.12);

$c-button-shadow: rgba(0, 0, 0, 0.04);

$c-dark-theme-item-background: rgb(36, 36, 36);